{{ define "main" }}

<div class="post-list-container post-list-container-no-background">

  <!-- Show homepage (_index.md) content -->
  <div class="post-item-info-wrapper" style ="margin: 10px; font-size: 20px;">
  {{ .Content }}
  </div>
  <!-- Recent posts: -->
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ $recentPosts := first 3 (where $posts "Params.hidden" "!=" true) }}
  {{ range $recentPosts }}
    <a href="{{.RelPermalink}}" class="a-block">
      <div class="post-item-wrapper">
        <div class="post-item post-item-no-divider">
          <div class="post-item-info-wrapper">
            <div class="post-item-title">{{.Title}}</div>
            <div class="post-item-summary">
              {{ .Summary }}
              <a href="{{ .RelPermalink }}">Read more &rarr;</a>
            </div>
            {{ partial "post-item-meta.html" . }}
          </div>
          {{ with .Params.featured_image }}
            {{ $image := $.Resources.GetMatch . }}
            <div class="post-item-image-wrapper">
              <div class="post-item-image"
                {{ if $image }}
                  {{ $thumbnail := $image.Resize "690x360" }}
                  style="background-image: url('{{ $thumbnail.RelPermalink }}')"
                {{ else }}
                  style="background-image: url('{{ . | absURL }}')"
                {{ end }}>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </a>
  {{ end }}

</div>

{{ end }}